body {
  background: #000;
}

.game-container-wrapper {
  width: 100%;
  height: calc(100% - 3em);
  text-align: center;
  display: table;
}

.game-container {
  vertical-align: middle;
  display: table-cell;
}

.game-container canvas {
  display: inline-block;
}